.skills{
    padding: 1rem;
    background-color: var(--color-cuarto);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
   
}

.skills__title {
    font-size: 2rem;
    margin-bottom: 2rem;
    margin-top: 5rem;
}